<configuration>
  <config>
    <add key="globalPackagesFolder" value="/workspaces/azure-ai-document-processing-samples/packages" />
  </config>
  <packageSources>
    <clear />  
    <add key="LocalPackages" value="/workspaces/azure-ai-document-processing-samples/packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>